@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap");
@font-face {
  font-family: "Proximateus";
  src: url("../font/Proximateus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 95%;
  max-width: 1920px;
}
/* scroll animation class */
.scroll-animate {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, transform;
}

.scroll-animate.active {
  opacity: 1;
  transform: translateY(0);
}

/* scroll down button */
/* <reset-style> ============================ */
a {
  text-decoration: none;
}
/* <main-style> ============================ */
.main__action {
  position: absolute;
  left: 5%;
  top: 45%;
}
.main__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__scroll-text {
  color: #eceef1;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.main__scroll-box svg {
  width: 30px;
  height: 30px;
}
.main__action:hover .main__scroll-box {
  animation: scroll-down 3s infinite;
}

/* Animate scroll icon */
@keyframes scroll-down {
  0%,
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

/* ================================================================hero section======================================= */
.hero-section {
  background-color: #111111;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #111111;
  height: auto;
  padding: 220px 0 50px 0;
  position: relative;

  .inner-hero-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    h1 {
      color: #ffffff;
      text-align: center;
      font-family: "Sora", Arial, Helvetica, sans-serif;
      font-size: 80px;
      font-weight: 400;
      padding: 0 16%;
    }
    p {
      text-align: center;
      color: #ffffff;
      font-family: "Manrope", Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
      padding: 0 30%;
    }
  }
}

/* showcase section code */
.showcase {
  display: flex;
  padding: 170px 10px 30px 10px;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  gap: 1%;
  .achievement {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../img/Ooze-40-1-min.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 19%;
    height: 570px;
    border-radius: 20px;
    padding: 30px 150px 30px 30px;
    display: flex;
    align-items: end;
    span {
      color: #ffffff;
      font-family: "Sora", Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }
  }
  /* nexphi section */
  .nexphi {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 19%;
    .first {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/pensive-bearded-background-1-min.webp");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 505px;
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      .rotate {
        color: #048bc5;
        font-family: "Sora", Arial, Helvetica, sans-serif;
        font-size: 120px;
        font-weight: 600;
        display: inline-block;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 130px;
        right: -200px;
        margin: 10px;
      }
    }
    .second {
      background-color: #048bc5;
      border-radius: 20px;
      height: 275px;
      padding: 30px;
      h6 {
        color: #ffffff;
        font-family: "Sora", Arial, Helvetica, sans-serif;
        font-size: 60px;
        font-weight: 600;
      }
      span {
        color: #ffffff;
        font-family: "Manrope", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  /* professional */
  .professional {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 19%;
    .humanbrain {
      background-image: url("../img/human-brain-poly-brain-2-min.webp");
      background-position: bottom center;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 20px;
      height: 275px;
      background-color: #ced6dc;
    }
    div:nth-child(2) {
      background-image: url("../img/Ooze-25-6.webp");
      background-position: bottom center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 20px;
      height: 375px;
      padding: 30px 150px 30px 30px;
      display: flex;
      align-items: end;
      span {
        color: #ffffff;
        font-family: "Sora", Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }
    }
  }
  /* supreme */
  .supreme {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 19%;
    img:nth-child(1) {
      border-radius: 20px;
      object-fit: cover;
      height: 500px;
    }
    img:nth-child(2) {
      height: 230px;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  /* programming */
  .programming {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #048bc5;
    width: 19%;
    height: 565px;
    border-radius: 20px;
    padding: 30px;
    span {
      color: #ffffff;
      font-family: "Sora", Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

/* ================================================================Partner section======================================= */
.partner {
  background-color: #111;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  .container {
    width: 90%;
    max-width: 1000px;
    .partner-slider {
      overflow: hidden;
      max-width: 100%;
      .slider-track {
        display: flex;
        gap: 20px;
        img {
          height: 60px;
          width: auto;
          flex-shrink: 0;
          opacity: 0.3;
          transition-duration: 0.3s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

/* ================================================================About section======================================= */
.about-section {
  padding: 100px 0;
  background-color: #111111;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: center;
    .inner-about-section {
      width: 750px;
      color: #ffffff;
      & > span {
        font-family: "Manrope", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
      h2 {
        font-family: "Sora", Arial, Helvetica, sans-serif;
        font-size: 60px;
        font-weight: 400;
        /* padding: 0 16%; */
      }
      p {
        font-family: "Manrope", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
      }
    }
  }
}

/* ================================================================Project section======================================= */
.success-proj {
  padding: 0;
  background-color: #111111;
  display: flex;
  justify-content: center;

  .inner-sucess-proj {
    display: flex;
    width: 100%;

    .left-selection {
      width: 40%;
      position: relative;

      & > span {
        padding: 0 0 0 50px;
        background-image: linear-gradient(180deg, #69da18 0%, #048bc5 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-stroke: 2px transparent;
        text-stroke: 2px transparent;
        color: #111111;
        font-family: "Sora", Arial, Helvetica, sans-serif;
        font-size: 150px;
        font-weight: 600;
        display: block;
        position: relative;
        z-index: 1;
      }

      & > div {
        background: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          #111111 45%,
          #111111 100%
        );
        padding: 60px 20px;
        margin-top: -155px;
        text-align: start;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        & > h3 {
          color: #ffffff;
          font-family: "Sora", Arial, Helvetica, sans-serif;
          font-size: 40px;
          font-weight: 400;
        }
        & > p {
          color: #ffffff;
          font-family: "Manrope", Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .right-selection {
      width: 60%;
      position: relative;

      & > span {
        padding: 0 0 0 50px;
        background-image: linear-gradient(180deg, #69da18 0%, #048bc5 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-stroke: 2px transparent;
        text-stroke: 2px transparent;
        color: #111111;
        font-family: "Sora", Arial, Helvetica, sans-serif;
        font-size: 150px;
        font-weight: 600;
      }
      & > div {
        background: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0) 0%,
          #111111 45%,
          #111111 100%
        );
        padding: 60px 20px;
        margin-top: -155px;
        text-align: start;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        & > h3 {
          color: #ffffff;
          font-family: "Sora", Arial, Helvetica, sans-serif;
          font-size: 40px;
          font-weight: 400;
        }
        & > p {
          color: #ffffff;
          font-family: "Manrope", Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

/* ================================================================Nexphi section======================================= */

.nexphi-section {
  background-color: #111111;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  border-radius: 0 0 30px 30px;
  .inner-logo {
    padding: 50px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../img/Ooze-16-3-min.webp");
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    overflow: hidden;

    img {
      width: 60px;
    }

    span {
      color: #ffffff;
      font-family: "Proximateus", Arial, sans-serif;
      font-size: 60px;
      font-weight: 600;
    }

    .button {
      position: absolute;
      bottom: 0;
      right: 0px;
      z-index: 2;
      background: #111111;
      border: none;
      color: #ffffff;
      font-family: "Manrope", Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
      border-top-left-radius: 20px;
      text-decoration: none;
      & > svg:nth-child(1) {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0;
        top: -30px;
      }
      & > svg:nth-child(2) {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 0;
        left: -30px;
      }

      & > div {
        width: 300px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

/* ================================================================Work with section======================================= */

.work-with {
  position: relative;
  display: flex;
  padding: 100px 0 50x 0;
  justify-content: center;

  .body-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

    .body-line {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0;
      border-left: solid 1px;
      border-left-color: currentcolor;
    }
    .body-line-l1 {
      border-color: #eceef1;
      left: 5.5%;
    }
    .body-line-l2 {
      border-color: #eceef1;
      left: 40%;
    }
    .body-line-r1 {
      border-color: #eceef1;
      right: 30%;
    }
    .body-line-r2 {
      border-color: #eceef1;
      right: 11%;
    }
  }

  .inner-work-with {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;

    .one-frame {
      display: flex;
      align-items: center;
      .img {
        width: 40%;
        display: flex;
        justify-content: center;
        img {
          width: 450px;
        }
      }

      .companies {
        width: 60%;

        h2 {
          font-family: "Sora", Arial, Helvetica, sans-serif;
          font-size: 100px;
          font-weight: 500;

          span {
            background-clip: text;
            -webkit-background-clip: text;
            text-decoration: none;
            color: transparent;
            background-color: transparent;
            background-image: linear-gradient(262deg, #048bc5 15%, #69da18 95%);
          }
        }
      }
    }
  }

  .inner-services-section {
    padding: 6% 10%;
    & > span {
      font-family: "Manrope", Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #111111;
    }
    h2 {
      font-family: "Sora", Arial, Helvetica, sans-serif;
      font-size: 60px;
      font-weight: 400;
      color: #111111;
      padding: 0 30% 0 0;
    }
    .cards {
      display: flex;
      z-index: 1;
      position: relative;
      width: 100%;
      flex-wrap: wrap;
      .card {
        margin: 30px 0 20px 0;
        width: 25%;
        .icon {
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background-color: #e9ebed;
          margin-top: 20px;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        .content-container {
          display: flex;
          flex-direction: column;
          gap: 10px;
          h3 {
            font-family: "Manrope", Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 500;
            color: #111111;
          }
          p {
            font-family: "Manrope", Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #333333;
            padding: 0 4% 0 0;
            line-height: 1.875em;
          }
          .p-24 {
            padding: 0 24% 0 0;
          }
        }
      }
    }
  }
}

/* ================================================================Partner section======================================= */
.partner-2 {
  padding: 100px 0 0 0;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
    max-width: 1000px;
    .partner-slider {
      overflow: hidden;
      max-width: 100%;
      .slider-track-2 {
        display: flex;
        gap: 20px;
        img {
          height: 60px;
          width: auto;
          flex-shrink: 0;
          opacity: 0.3;
          transition-duration: 0.3s;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.marquee,
.horizontal-scroller {
  overflow: hidden;
  margin-left: -10px;
  margin-right: -10px;
}

.marquee-wrapper,
.scroller-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

/* === marquee section === */
.marquee {
  transform: rotate(1.07deg);

  .inner-marquee-section {
    background-color: #048bc5;
    display: flex;
    padding: 20px 0;
    width: fit-content;

    .special-text {
      font-family: "Sora", Arial, Helvetica, sans-serif;
      font-size: 80px;
      font-weight: 400;
      color: #111111;
      white-space: nowrap;
      padding-right: 50px;
      flex-shrink: 0;
    }
  }
}

/* === horizontal scroller section === */
.horizontal-scroller {
  transform: rotate(-1.07deg);
  margin-top: -50px;

  .scroller-container {
    background-color: #111111;
    display: flex;
    padding: 20px 0;
    width: fit-content;

    .scrolling-text {
      font-family: "Sora", Arial, Helvetica, sans-serif;
      font-size: 80px;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      padding-right: 50px;
      flex-shrink: 0;
    }
  }
}
