@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 95%;
  max-width: 1920px;
}

/* ================================================================hero section======================================= */
.hero-section {
  background-color: #111111;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #111111;
  height: auto;
  padding: 220px 0 50px 0;

  .inner-hero-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    h1 {
      color: #ffffff;
      text-align: center;
      font-family: "Sora", Arial, Helvetica, sans-serif;
      font-size: 80px;
      font-weight: 400;
      padding: 0 16%;
    }
    p {
      text-align: center;
      color: #ffffff;
      font-family: "Manrope", Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
      padding: 0 30%;
    }
  }
}

/* showcase section code */
.showcase {
  display: flex;
  padding: 100px 10px 30px 10px;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  gap: 1%;
  .achievement {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../img/Ooze-40-1-min.webp");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 19%;
    height: 570px;
    border-radius: 20px;
    padding: 30px 150px 30px 30px;
    display: flex;
    align-items: end;
    span {
      color: #ffffff;
      font-family: "Sora", Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }
  }
  /* nexphi section */
  .nexphi {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 19%;
    .first {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/pensive-bearded-background-1-min.webp");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 505px;
      overflow: hidden;
      border-radius: 20px;
      position: relative;
      .rotate {
        color: #048bc5;
        font-family: "Sora", Arial, Helvetica, sans-serif;
        font-size: 120px;
        font-weight: 600;
        display: inline-block;
        transform: rotate(-90deg);
        position: absolute;
        bottom: 130px;
        right: -200px;
        margin: 10px;
      }
    }
    .second {
      background-color: #048bc5;
      border-radius: 20px;
      height: 275px;
      padding: 30px;
      h6 {
        color: #ffffff;
        font-family: "Sora", Arial, Helvetica, sans-serif;
        font-size: 60px;
        font-weight: 600;
      }
      span {
        color: #ffffff;
        font-family: "Manrope", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  /* professional */
  .professional {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 19%;
    .humanbrain {
      background-image: url("../img/human-brain-poly-brain-2-min.webp");
      background-position: bottom center;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 20px;
      height: 275px;
      background-color: #ced6dc;
    }
    div:nth-child(2) {
      background-image: url("../img/Ooze-25-6.webp");
      background-position: bottom center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 20px;
      height: 375px;
      padding: 30px 150px 30px 30px;
      display: flex;
      align-items: end;
      span {
        color: #ffffff;
        font-family: "Sora", Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 500;
      }
    }
  }
  /* supreme */
  .supreme {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 19%;
    img:nth-child(1) {
      border-radius: 20px;
      object-fit: cover;
      height: 500px;
    }
    img:nth-child(2) {
      height: 230px;
      object-fit: cover;
      border-radius: 20px;
    }
  }
  /* programming */
  .programming {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #048bc5;
    width: 19%;
    height: 565px;
    border-radius: 20px;
    padding: 30px;
    span {
      color: #ffffff;
      font-family: "Sora", Arial, Helvetica, sans-serif;
      font-size: 25px;
      font-weight: 500;
    }
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

/* partner */
.partner {
  display: flex;
  justify-content: center;
  background-color: #111111;
  padding: 50px 0;
  .partner-slider {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    img {
      height: 60px;
      width: auto;
      flex-shrink: 0;
    }
  }
}

/* ================================================================About section======================================= */
.about-section {
  padding: 100px 0;
  background-color: #111111;
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    justify-content: center;
    .inner-about-section {
      width: 800px;
      color: #ffffff;
      span {
        font-family: "Manrope", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
      h2 {
        font-family: "Sora", Arial, Helvetica, sans-serif;
        font-size: 60px;
        font-weight: 400;
        /* padding: 0 16%; */
      }
      p {
        font-family: "Manrope", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
      }
    }
  }
}
