/* =============================================================================================== */
/* ===========================================1920px============================================== */
/* =============================================================================================== */

@media (max-width: 1920px) {
  .mobile-header {
    display: none;
  }
}

/* =============================================================================================== */
/* ===========================================1600px============================================== */
/* =============================================================================================== */

@media (max-width: 1600px) {
  /* scroll */
  .main__action {
    top: 30.6%;
  }

  .left-section {
    .main-box {
      width: 25%;
      gap: 50px;
    }
  }

  /* ====hero section==== */
  .hero-section {
    .container {
      .inner-hero-section {
        h1 {
          font-size: 70px;
          padding: 0 12%;
        }
        p {
          padding: 0 25%;
        }
      }
    }
  }

  /* ====nexphi company section==== */
  .work-with {
    .inner-work-with {
      .one-frame {
        .img {
          img {
            width: 400px;
          }
        }

        .companies {
          h2 {
            font-size: 82px;
          }
        }
      }
    }

    /* ====cards section==== */

    .inner-services-section {
      padding: 6%;
      .cards {
        .card {
          .content-container {
            .p-24 {
              padding: 0 14% 0 0;
            }
          }
        }
      }
    }
  }

  /* ============= contact us page code ============ */
  .hero-section-contact {
    .inner-hero-section {
      background-position-y: -290px;
    }
  }

  /* ============= about us page code ============ */
  .hero-section-about {
    .inner-hero-section {
      background-position-y: -290px;
    }
  }
}

/* =============================================================================================== */
/* ===========================================1366px============================================== */
/* =============================================================================================== */

@media (max-width: 1366px) {
  /* scroll */
  .main__action {
    top: 31.6%;
  }

  .main-header {
    display: none;
  }
  .mobile-header {
    display: unset;
  }
  /* seach bar code */
  .top-to-bottom {
    .main-box {
      height: 8%;
      padding: 0 10px;
      form {
        button {
          min-width: 0;
        }
      }
    }

    /* ====hero section==== */
    .hero-section {
      .container {
        .inner-hero-section {
          h1 {
            font-size: 60px;
            padding: 0 11%;
          }
          p {
            padding: 0 21%;
          }
        }
      }
    }
  }

  /* ====nexphi company section==== */
  .work-with {
    padding: 80px 0;
    .inner-work-with {
      .one-frame {
        .img {
          img {
            width: 350px;
          }
        }

        .companies {
          h2 {
            font-size: 74px;
          }
        }
      }
    }
    /* ====cards section==== */

    .inner-services-section {
      padding: 6% 0 0 0;
    }
  }

  /* ==== Footer ==== */
  .main-footer {
    .container {
      .inner-main-footer {
        .footer-content {
          .icon {
            .text {
              p {
                font-size: 50px;
              }
            }
          }
        }
      }
    }
  }

  /* ============= contact us page code ============ */

  .hero-section-contact {
    padding: 130px 0 50px 0;

    .inner-hero-section {
      background-position-y: -290px;
      padding: 140px 140px;

      div {
        h1 {
          font-size: 70px;
        }
      }
    }
  }

  /* get in touch section */

  .get-in-touch {
    .container {
      /* main code start from here */
      .inner-get-in-touch {
        width: auto;
      }
    }
  }

  /* ============= about us page code ============ */

  .hero-section-about {
    padding: 130px 0 50px 0;

    .inner-hero-section {
      background-position-y: -290px;
      padding: 140px 140px;

      div {
        h1 {
          font-size: 70px;
        }
      }
    }
  }
}

/* =============================================================================================== */
/* ===========================================1200px============================================== */
/* =============================================================================================== */

@media (max-width: 1200px) {
  /* scroll */
  .main__action {
    top: 29.5%;
  }

  /* ====hero section==== */
  .hero-section {
    .container {
      .inner-hero-section {
        h1 {
          font-size: 60px;
          padding: 0 11%;
        }
        p {
          padding: 0 17%;
        }
      }
    }
  }

  /* ====nexphi company section==== */
  .work-with {
    padding: 80px 0;
    .inner-work-with {
      .one-frame {
        .img {
          img {
            width: 300px;
          }
        }

        .companies {
          h2 {
            font-size: 65px;
          }
        }
      }
    }

    /* ====cards section==== */

    .inner-services-section {
      & h2 {
        font-size: 50px;
        padding: 0 20% 0 0;
      }
      .cards {
        .card {
          width: 33%;
          .content-container {
            .p-24 {
              padding: 0 24% 0 0;
            }
          }
        }
      }
    }
  }

  /* showcase section code */
  .showcase {
    gap: 1%;
    .achievement {
      width: 19%;
      span {
        font-size: 20px;
      }
    }
    .nexphi {
      width: 19%;
      .second {
        padding: 25px;
      }
    }
    .professional {
      width: 19%;
      div:nth-child(2) {
        span {
          font-size: 20px;
        }
      }
    }
    .supreme {
      width: 19%;
      margin-top: 0;
    }
    .programming {
      width: 19%;
      span {
        font-size: 20px;
      }
    }
  }

  /* get in touch section */

  .get-in-touch {
    padding: 80px 0 50px 0;
    .container {
      /* main code start from here */
      .inner-get-in-touch {
        .contact-info {
          h2 {
            font-size: 50px;
          }
          p {
            padding: 0;
          }
        }
        /* contact form */
        .contact-form {
          margin: 0 0 0 50px;
        }
      }
    }
  }
}

/* =============================================================================================== */
/* ===========================================1024px============================================== */
/* =============================================================================================== */

@media (max-width: 1024px) {
  /* scroll */
  .main__action {
    top: 33.5%;
  }

  /* ====scroll on top section==== */

  .scroll-to-top {
    bottom: 6%;
    right: 6%;
  }

  /* ====Project section==== */
  .success-proj {
    .inner-sucess-proj {
      flex-direction: column;
      .left-selection {
        width: 100%;
      }
      .right-selection {
        width: 100%;
      }
    }
  }

  /* ====nexphi company section==== */
  .work-with {
    padding: 80px 0;
    .inner-work-with {
      .one-frame {
        .companies {
          h2 {
            font-size: 55px;
          }
        }
      }
    }

    /* ====cards section==== */

    .inner-services-section {
      .cards {
        .card {
          .content-container {
            .p-24 {
              padding: 0 14% 0 0;
            }
          }
        }
      }
    }
  }

  /* === marquee section === */
  .marquee {
    .inner-marquee-section {
      .special-text {
        font-size: 70px;
      }
    }
  }

  /* === horizontal scroller section === */
  .horizontal-scroller {
    .scroller-container {
      .scrolling-text {
        font-size: 70px;
      }
    }
  }

  /* ============= contact us page code ============ */

  .hero-section-contact {
    .inner-hero-section {
      background-position-y: -100px;
      padding: 140px 80px;
    }
  }

  /* get in touch section */

  .get-in-touch {
    .container {
      /* main code start from here */
      .inner-get-in-touch {
        margin-bottom: 50px;
        .contact-info {
          h2 {
            font-size: 40px;
          }
        }
      }
    }
  }

  /* ============= about us page code ============ */

  .hero-section-about {
    .inner-hero-section {
      background-position-y: -100px;
      padding: 140px 80px;
    }
  }
}

/* =============================================================================================== */
/* ============================================850px============================================== */
/* =============================================================================================== */

@media (max-width: 850px) {
  /* scroll */
  .main__action {
    display: none;
  }

  /* ====hero section==== */
  .hero-section {
    padding: 160px 0 50px 0;
    .container {
      .inner-hero-section {
        h1 {
          font-size: 50px;
          padding: 0;
        }
        p {
          padding: 0 2%;
        }
      }
    }
  }

  /* showcase section code */
  .showcase {
    gap: 2%;
    padding: 60px 10px 30px 10px;
    .achievement {
      width: 32%;
    }
    .nexphi {
      width: 32%;
    }
    .professional {
      width: 32%;
    }
    .supreme {
      width: 66%;
      flex-direction: row;
      margin-top: 20px;
      img:nth-child(1) {
        width: 50%;
      }
      img:nth-child(2) {
        width: 50%;
      }
    }
    .programming {
      margin-top: 20px;
      width: 32%;
      height: 500px;
    }
  }

  /* ====Nexphi section==== */
  .nexphi-section {
    .inner-logo {
      height: 600px;
      .button {
        & > div {
          width: 250px;
          height: 90px;
        }
      }
    }
  }

  /* ====Work with section==== */

  .work-with {
    padding: 60px 0;
    .body-lines {
      .body-line-l1 {
        left: 20%;
      }
      .body-line-l2 {
        display: none;
      }
      .body-line-r1 {
        display: none;
      }
      .body-line-r2 {
        right: 6%;
      }
    }

    .inner-work-with {
      .one-frame {
        flex-direction: column;
        .img {
          width: 100%;
          img {
            width: 250px;
          }
        }

        .companies {
          margin-top: 20px;
          width: 100%;
          h2 {
            font-size: 72px;
          }
        }
      }
    }

    /* ====cards section==== */

    .inner-services-section {
      & h2 {
        font-size: 50px;
        padding: 0;
      }
      .cards {
        .card {
          width: 50%;
          .content-container {
            .p-24 {
              padding: 0 4% 0 0;
            }
          }
        }
      }
    }
  }

  /* === marquee section === */
  .marquee {
    .inner-marquee-section {
      .special-text {
        font-size: 60px;
      }
    }
  }

  /* === horizontal scroller section === */
  .horizontal-scroller {
    .scroller-container {
      .scrolling-text {
        font-size: 60px;
      }
    }
  }

  /* ============= contact us page code ============ */

  .hero-section-contact {
    .inner-hero-section {
      background-position-y: -50px;
      padding: 120px 80px;

      div {
        h1 {
          font-size: 60px;
        }
      }

      .breadcrumb {
        right: 100px;
      }
    }
  }

  /* get in touch */
  .get-in-touch {
    .container {
      .body-lines {
        .body-line-l1 {
          left: 20%;
        }
        .body-line-l2 {
          display: none;
        }
        .body-line-r1 {
          display: none;
        }
        .body-line-r2 {
          right: 6%;
        }
      }
      /* main code start from here */
      .inner-get-in-touch {
        flex-direction: column;
        .contact-info {
          width: 100%;
        }
        /* contact form */
        .contact-form {
          margin: 60px 0 0 0;
          width: 100%;
          form {
            gap: 40px;
          }
        }
      }
    }
  }

  /* ============= about us page code ============ */

  .hero-section-about {
    .inner-hero-section {
      background-position-y: -50px;
      padding: 120px 80px;

      div {
        h1 {
          font-size: 60px;
        }
      }

      .breadcrumb {
        right: 100px;
      }
    }
  }

  /* ==== Footer ==== */
  .main-footer {
    .container {
      .inner-main-footer {
        .footer-content {
          .icon {
            flex: 1 1 100%;

            .text {
              p {
                font-size: 50px;
              }
            }
          }
        }
      }
    }
  }
}

/* =============================================================================================== */
/* ===========================================550px=============================================== */
/* =============================================================================================== */

@media (max-width: 550px) {
  /* ====scroll on top section==== */

  .scroll-to-top {
    right: 10%;
  }

  .mobile-menu {
    .mobile-menu-main {
      width: 80%;
    }
  }

  /* ====hero section==== */
  .hero-section {
    padding: 100px 10px 20px 10px;
    .container {
      .inner-hero-section {
        padding: 0 0 0 10px;
        h1 {
          font-size: 40px;
          padding: 0;
        }
        p {
          padding: 0 2%;
        }
      }
    }
  }
  /* showcase section code */
  .showcase {
    gap: 20px;
    .achievement {
      width: 100%;
      span {
        font-size: 25px;
      }
    }
    .nexphi {
      width: 100%;
    }
    .professional {
      width: 100%;
      div:nth-child(2) {
        span {
          font-size: 25px;
        }
      }
    }
    .supreme {
      width: 100%;
      margin-top: 0;
      flex-direction: column;
      img:nth-child(1) {
        width: unset;
      }
      img:nth-child(2) {
        width: unset;
      }
    }
    .programming {
      margin-top: 0;
      width: 100%;
      height: 565px;
      span {
        font-size: 25px;
      }
    }
  }

  /* ====About section==== */
  .about-section {
    padding: 40px 10px;
    .container {
      .inner-about-section {
        h2 {
          font-size: 30px;
        }
      }
    }
  }

  /* ====Project section==== */
  .success-proj {
    padding: 40px 10px;
    .inner-sucess-proj {
      flex-direction: column;
      .left-selection {
        & > span {
          font-size: 70px;
          padding: 0 0 0 30px;
        }
        & > div {
          margin-top: -100px;
          padding: 60px 0;
          & > h3 {
            font-size: 25px;
          }
        }
      }
      .right-selection {
        & > span {
          font-size: 70px;
          padding: 0 0 0 30px;
        }
        & > div {
          margin-top: -100px;
          padding: 60px 0;
          & > h3 {
            font-size: 25px;
          }
        }
      }
    }
  }

  /* ====Nexphi section==== */
  .nexphi-section {
    .inner-logo {
      height: 500px;
      .button {
        & > div {
          width: 200px;
          height: 80px;
        }
      }
    }
  }

  /* ====Work with section==== */

  .work-with {
    padding: 60px 0;

    .inner-work-with {
      .one-frame {
        .img {
          img {
            width: 150px;
          }
        }

        .companies {
          h2 {
            font-size: 50px;
          }
        }
      }
    }

    /* ====cards section==== */

    .inner-services-section {
      padding: 50px 0 0 0;
      & h2 {
        font-size: 30px;
      }
      .cards {
        .card {
          width: 100%;
          .content-container {
            .p-24 {
              padding: 0 4% 0 0;
            }
          }
        }
      }
    }
  }

  /* === marquee section === */
  .marquee {
    .inner-marquee-section {
      .special-text {
        font-size: 50px;
      }
    }
  }

  /* === horizontal scroller section === */
  .horizontal-scroller {
    .scroller-container {
      .scrolling-text {
        font-size: 50px;
      }
    }
  }

  /* ====partner 2 section==== */

  .partner-2 {
    padding: 50px 0 0 0;
  }

  /* ==== Footer ==== */
  .main-footer {
    .container {
      .inner-main-footer {
        padding: 70px 20px 70px 20px;
        .footer-content {
          .icon {
            flex: 1 1 100%;

            .text {
              p {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
  /* ============ contact page code =============*/
  .hero-section-contact {
    padding: 130px 0 40px 0;
    .inner-hero-section {
      background-position-y: 0;
      padding: 120px 20px;

      div {
        img {
          width: 40px;
        }

        h1 {
          font-size: 50px;
        }
      }
      .breadcrumb {
        right: 70px;
      }
    }
  }

  /* get in touch  */

  .get-in-touch {
    padding: 50px 10px 30px 10px;
    .container {
      /* main code start from here */
      .inner-get-in-touch {
        .contact-info {
          h2 {
            font-size: 30px;
          }

          .nexphi-info {
            flex-direction: column;
            gap: 20px;
            .phone {
              width: 100%;
            }
            .location {
              width: 100%;
            }
          }
        }
        /* contact form */
        .contact-form {
          padding: 10% 6%;
        }
      }
    }
  }

  /* ============ about page code =============*/
  .hero-section-about {
    padding: 130px 0 40px 0;
    .inner-hero-section {
      background-position-y: 0;
      padding: 120px 20px;

      div {
        img {
          width: 40px;
        }

        h1 {
          font-size: 50px;
        }
      }
      .breadcrumb {
        right: 70px;
      }
    }
  }

  /* footer second part */
  .footer-second-part {
    margin-top: -60px;
    .container {
      .inner-path {
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
        &::after {
          bottom: 45px;
        }
        &::before {
          top: 40px;
        }
      }
    }
  }
}
