@media (max-width: 1920px) {
  .mobile-header {
    display: none;
  }
}
@media (max-width: 1600px) {
  .left-section {
    .main-box {
      width: 25%;
    }
  }

  /* ================================================================hero section======================================= */
  .hero-section {
    .container {
      .inner-hero-section {
        h1 {
          font-size: 70px;
          padding: 0 12%;
        }
        p {
          padding: 0 25%;
        }
      }
    }
  }
}
@media (max-width: 1366px) {
  .main-header {
    display: none;
  }
  .mobile-header {
    display: unset;
  }
  /* seach bar code */
  .top-to-bottom {
    .main-box {
      height: 8%;
      padding: 0 10px;
      form {
        button {
          min-width: 0;
        }
      }
    }

    /* ================================================================hero section======================================= */
    .hero-section {
      .container {
        .inner-hero-section {
          h1 {
            font-size: 60px;
            padding: 0 11%;
          }
          p {
            padding: 0 21%;
          }
        }
      }
    }
  }

  /* footer code */

  /* ================================================= Footer ================================================ */
  .main-footer {
    .container {
      .inner-main-footer {
        .footer-content {
          .icon {
            .text {
              p {
                font-size: 50px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  /* ================================================================hero section======================================= */
  .hero-section {
    .container {
      .inner-hero-section {
        h1 {
          font-size: 60px;
          padding: 0 11%;
        }
        p {
          padding: 0 17%;
        }
      }
    }
  }

  /* showcase section code */
  .showcase {
    gap: 1%;
    .achievement {
      width: 19%;
      span {
        font-size: 20px;
      }
    }
    .nexphi {
      width: 19%;
      .second {
        padding: 25px;
      }
    }
    .professional {
      width: 19%;
      div:nth-child(2) {
        span {
          font-size: 20px;
        }
      }
    }
    .supreme {
      width: 19%;
      margin-top: 0;
    }
    .programming {
      width: 19%;
      span {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 1024px) {
}

@media (max-width: 850px) {
  /* ================================================= Footer ================================================ */
  .main-footer {
    .container {
      .inner-main-footer {
        .footer-content {
          .icon {
            flex: 1 1 100%;

            .text {
              p {
                font-size: 50px;
              }
            }
          }
        }
      }
    }
  }
  /* ================================================================hero section======================================= */
  .hero-section {
    padding: 160px 0 50px 0;
    .container {
      .inner-hero-section {
        h1 {
          font-size: 50px;
          padding: 0;
        }
        p {
          padding: 0 2%;
        }
      }
    }
  }

  /* showcase section code */
  .showcase {
    gap: 2%;
    .achievement {
      width: 32%;
    }
    .nexphi {
      width: 32%;
    }
    .professional {
      width: 32%;
    }
    .supreme {
      width: 66%;
      flex-direction: row;
      img:nth-child(1) {
        width: 50%;
      }
      img:nth-child(2) {
        width: 50%;
      }
    }
    .programming {
      width: 32%;
      height: 500px;
    }
  }
}

@media (max-width: 550px) {
  .mobile-menu {
    .mobile-menu-main {
      width: 80%;
    }
  }
  /* ================================================= Footer ================================================ */
  .main-footer {
    .container {
      .inner-main-footer {
        padding: 70px 20px 70px 20px;
        .footer-content {
          .icon {
            flex: 1 1 100%;

            .text {
              p {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }
  /* ================================================================hero section======================================= */
  .hero-section {
    padding: 100px 0 20px 0;
    .container {
      .inner-hero-section {
        padding: 0 0 0 20px;
        h1 {
          font-size: 40px;
          padding: 0;
        }
        p {
          padding: 0 2%;
        }
      }
    }
  }
  /* showcase section code */
  .showcase {
    gap: 20px;
    .achievement {
      width: 100%;
      span {
        font-size: 25px;
      }
    }
    .nexphi {
      width: 100%;
    }
    .professional {
      width: 100%;
      div:nth-child(2) {
        span {
          font-size: 25px;
        }
      }
    }
    .supreme {
      width: 100%;
      margin-top: 0;
      flex-direction: column;
      img:nth-child(1) {
        width: unset;
      }
      img:nth-child(2) {
        width: unset;
      }
    }
    .programming {
      width: 100%;
      height: 565px;
      span {
        font-size: 25px;
      }
    }
  }

  /* ================================================================About section======================================= */
  .about-section {
    padding: 40px 0;
    .container {
      .inner-about-section {
        h2 {
          font-size: 30px;
        }
      }
    }
  }

  /* footer second part */
  .footer-second-part {
    margin-top: -60px;
    .container {
      .inner-path {
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
      }
    }
  }
}
