@media (max-width: 1920px) {
  .mobile-header {
    display: none;
  }
}
@media (max-width: 1600px) {
  .left-section {
    .main-box {
      width: 25%;
    }
  }
}
@media (max-width: 1366px) {
  .main-header {
    display: none;
  }
  .mobile-header {
    display: unset;
  }
  /* seach bar code */
  .top-to-bottom {
    .main-box {
      height: 8%;
      padding: 0 30px;
      form {
        button {
          min-width: 0;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .mobile-menu {
    .mobile-menu-main {
      width: 80%;
    }
  }
}
