@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* button generic code*/
button {
  align-items: center;
  background-image: linear-gradient(90deg, #69da18, #048bc5);
  border: 0;
  border-radius: 360px;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  justify-content: center;
  max-width: 100%;
  min-width: 200px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
button:active,
button:hover {
  outline: 0;
}
button span {
  background-color: #111111;
  padding: 16px 24px;
  border-radius: 360px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
button:hover span {
  background: none;
}
button:active {
  transform: scale(0.9);
}
/* ================================================= header ================================================ */
.main-header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  .container {
    width: 95%;
    max-width: 1920px;
    .inner-header {
      background-color: #111111;
      margin: 20px 0 0 0;
      border: 1px solid #373737;
      border-radius: 20px;
      padding: 1% 3%;
      display: flex;
      justify-content: space-between;
      /* icons */
      .icon {
        display: flex;
        gap: 30px;
        align-items: center;
        /* svg */
        .check-btn {
          input {
            display: none;
          }
        }
        svg {
          width: 30px;
          height: 30px;
          cursor: pointer;
          &:hover {
            fill: #ffffff;
          }
        }
        /* logo */
        img {
          width: 30px;
          cursor: pointer;
        }
      }
      /* navbar main code */
      .navbar-main {
        font-family: "Manrope", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          li {
            list-style: none;
            a {
              color: #ffffff;
              text-decoration: none;
            }
            .item {
              background-color: #69da18;
              padding: 10px 20px;
              border-radius: 360px;
            }
            .active {
              background-color: #048bc5;
            }
          }
        }
      }
      /* search button */
      .search-button {
        display: flex;
        gap: 30px;
        align-items: center;
        .check-btn {
          input {
            display: none;
          }
        }
        /* svg */
        svg {
          width: 25px;
          height: 25px;
          cursor: pointer;
          &:hover {
            fill: #ffffff;
          }
        }
      }
    }
  }
}

/* left section contact details */

.left-section {
  background-color: #31313180;
  inset: 0;
  position: fixed;
  z-index: -1;
  display: flex;
  overflow: hidden;
  .main-box {
    opacity: 1;
    width: 20%;
    height: calc(100vh - 20px);
    background: linear-gradient(#1f1f1f, #1f1f1f, #787878),
      url("../img/sidepanel-bg.png");
    background-blend-mode: overlay;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 10px 1px 10px 10px;
    transform: translateX(calc(-100% - 11px));
    transition: transform 0.2s ease-out;
    padding: 4% 4%;
    display: flex;
    flex-direction: column;
    gap: 180px;
    position: relative;
    overflow: hidden;
    /* logo */
    img {
      width: 40px;
    }
    /* info */
    div {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      gap: 20px;
      font-family: "Manrope";
      font-size: 18px;
      span:nth-child(1) {
        font-size: 14px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          list-style: none;
          a {
            color: #ffffff;
            text-decoration: none;
            &:hover {
              transition: ease-in 0.2s;
              color: #69da18;
            }
          }
        }
      }
    }
    .get-socials {
      display: flex;
      gap: 40px;
      .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        a {
          svg {
            width: 30px;
            height: 30px;
            color: #ffffff;
            fill: #ffffff;
            &:hover {
              transition: ease-in 0.2s;
              fill: #69da18;
            }
          }
        }
      }
    }
    ::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -50%;
      width: 200%;
      height: 80%;
      background: rgba(241, 79, 68, 0.1);
      filter: blur(60px);
      border-radius: 50%;
      transform: rotate(-10deg);
      z-index: -1;
      mix-blend-mode: darken;
    }
  }
  /* second box sidebar */
  .main-box-sidebar {
    width: 4%;
    height: calc(100vh - 20px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/Ooze-25-1-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 10px 10px 10px 1px;
    transform: translateX(calc(-100% - 410px));
    transition: transform 0.2s ease-out;
    padding: 20px 0 0 0;
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      cursor: pointer;
      svg {
        width: 25px;
        height: 25px;
        transition: transform 0.3s ease;
      }
      span {
        writing-mode: vertical-rl;
        font-family: "Manrope", Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;
      }
      &:hover svg {
        transform: rotate(180deg);
      }
    }
  }
}

body:has(#btn-checkbox-sidebar:checked) .left-section {
  z-index: 3;
}

body:has(#btn-checkbox-sidebar:checked) .main-box,
body:has(#btn-checkbox-sidebar:checked) .main-box-sidebar {
  transform: translateX(0);
}

/* top to bottom search input box with animations */
.top-to-bottom {
  background-color: #31313180;
  inset: 0;
  position: fixed;
  z-index: -1;
  display: flex;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s step-end;
  .main-box {
    display: flex;
    align-items: center;
    padding: 35px 40px;
    height: 16%;
    background-color: #111111;
    width: 100%;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      button {
        background-image: linear-gradient(90deg, #111111, #111111);
        svg {
          width: 30px;
          height: 30px;
        }
      }
      input {
        display: flex;
        width: 90%;
        background-color: transparent;
        border: none;
        padding: 10px 0 10px 20px;
        color: #ffffff;
        font-size: 18px;
        &:focus-visible {
          outline: none;
        }
      }
    }
    div {
      display: flex;
      cursor: pointer;
      label svg {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
      }
      &:hover svg {
        transform: rotate(180deg);
      }
    }
  }
}
body:has(#btn-checkbox-search:checked) .top-to-bottom {
  z-index: 3;
  opacity: 1;
  transition: opacity 0.3s ease, z-index 0.3s step-start;
  .main-box {
    transform: translateY(0);
  }
}
