@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Sora:wght@100..800&display=swap");

::selection {
  color: #69da18;
  background-color: rgba(0, 0, 0, 0); /* transparent background */
}

/* For Firefox */
::-moz-selection {
  color: #69da18;
  background-color: rgba(0, 0, 0, 0); /* transparent background */
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 95%;
  max-width: 1920px;
}
a {
  text-decoration: none;
}
/* button generic code*/
button {
  align-items: center;
  background-image: linear-gradient(90deg, #69da18, #048bc5);
  border: 0;
  border-radius: 360px;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  justify-content: center;
  max-width: 100%;
  min-width: 200px;
  padding: 2px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
button:active,
button:hover {
  outline: 0;
}
button span {
  background-color: #111111;
  padding: 16px 24px;
  border-radius: 360px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
button:hover span {
  background: none;
}
button:active {
  transform: scale(0.9);
}
/* ================================================ scroll to top ========================================== */

.scroll-to-top {
  position: fixed;
  bottom: 6%;
  right: 3%;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .circle-container {
    width: 50px;
    height: 70px;
    background-color: #69da18;
    border-radius: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg {
      position: absolute;
      top: 24px;
      left: 19px;
      width: 17px;
      height: 17px;
      fill: #111111;
      transform: rotate(270deg);
      transition-duration: 0.3s;
    }
    &:hover {
      background-color: #048bc5;
      svg {
        top: 27px;
      }
    }
  }
}

/* ================================================= header ================================================ */
.main-header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 7;
  .inner-header {
    background-color: #111111;
    margin: 20px 0 0 0;
    border: 1px solid #373737;
    border-radius: 20px;
    padding: 1% 3%;
    display: flex;
    justify-content: space-between;
    /* icons */
    .icon {
      display: flex;
      gap: 30px;
      align-items: center;
      /* svg */
      .check-btn {
        input {
          display: none;
        }
      }
      svg {
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover {
          fill: #ffffff;
        }
      }
      /* logo */
      img {
        width: 30px;
        cursor: pointer;
      }
    }
    /* navbar main code */
    .navbar-main {
      font-family: "Manrope", Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;

      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        li {
          list-style: none;

          a {
            color: #ffffff;
            text-decoration: none;

            &.item {
              background-color: #111111;
              padding: 10px 20px;
              border-radius: 360px;
              position: relative;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: transform 0.35s cubic-bezier(0.76, 0, 0.24, 1);
              &:hover {
                background-color: #69da18;
              }
              &.active {
                background-color: #048bc5;
              }

              .perspectiveText {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                transform-style: preserve-3d;
                transition: transform 0.35s cubic-bezier(0.76, 0, 0.24, 1);
                position: relative;

                p {
                  transition: all 0.35s cubic-bezier(0.76, 0, 0.24, 1);
                  pointer-events: none;
                  text-transform: uppercase;
                  margin: 0;

                  &:nth-of-type(2) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    transform-origin: bottom center;
                    transform: rotateX(-90deg) translateY(9px);
                    opacity: 0;
                  }
                }
              }

              &:hover {
                .perspectiveText {
                  transform: rotateX(90deg);

                  p {
                    &:nth-of-type(1) {
                      transform: translateY(-100%);
                      opacity: 0;
                    }

                    &:nth-of-type(2) {
                      opacity: 1;
                    }
                  }
                }
              }

              &:not(:hover) {
                .perspectiveText {
                  transform: rotateX(0deg);

                  p {
                    &:nth-of-type(1) {
                      transform: translateY(0%);
                      opacity: 1;
                    }

                    &:nth-of-type(2) {
                      opacity: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    /* search button */
    .search-button {
      display: flex;
      gap: 30px;
      align-items: center;
      .check-btn {
        input {
          display: none;
        }
      }
      /* svg */
      svg {
        width: 25px;
        height: 25px;
        cursor: pointer;
        &:hover {
          fill: #ffffff;
        }
      }
    }
  }
}

/* left section contact details */
.left-section {
  background-color: #31313180;
  inset: 0;
  position: fixed;
  z-index: -1;
  display: flex;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    visibility 0.4s, z-index 0.4s step-end;

  .main-box {
    opacity: 1;
    width: 20%;
    height: calc(100vh - 20px);
    background: linear-gradient(#1f1f1f, #1f1f1f, #787878),
      url("../img/sidepanel-bg.webp");
    background-blend-mode: overlay;
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 10px 1px 10px 10px;
    transform: translateX(calc(-100% - 11px));
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    padding: 4% 4%;
    display: flex;
    flex-direction: column;
    gap: 180px;
    position: relative;
    overflow: hidden;

    /* logo */
    img {
      width: 40px;
    }

    /* info */
    div {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      gap: 20px;
      font-family: "Manrope";
      font-size: 18px;
      span:nth-child(1) {
        font-size: 14px;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          list-style: none;
          a {
            color: #ffffff;
            text-decoration: none;
            &:hover {
              transition: ease-in 0.2s;
              color: #69da18;
            }
          }
        }
      }
    }

    .get-socials {
      display: flex;
      gap: 40px;
      .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        a {
          svg {
            width: 30px;
            height: 30px;
            color: #ffffff;
            fill: #ffffff;
            &:hover {
              transition: ease-in 0.2s;
              fill: #69da18;
            }
          }
        }
      }
    }

    ::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -50%;
      width: 200%;
      height: 80%;
      background-color: rgba(68, 241, 200, 0.1);
      filter: blur(60px);
      border-radius: 50%;
      transform: rotate(-10deg);
      z-index: -1;
      mix-blend-mode: darken;
    }
  }

  /* second box sidebar */
  .main-box-sidebar {
    width: 4%;
    height: calc(100vh - 20px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/Ooze-25-1-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 10px 10px 10px 1px;
    transform: translateX(calc(-100% - 410px));
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    padding: 20px 0 0 0;
    div {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      cursor: pointer;
      svg {
        width: 25px;
        height: 25px;
        transition: transform 0.3s ease;
      }
      span {
        writing-mode: vertical-rl;
        font-family: "Manrope", Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;
      }
      &:hover svg {
        transform: rotate(180deg);
      }
    }
  }
}

/* When sidebar is checked */
body:has(#btn-checkbox-sidebar:checked) .left-section {
  z-index: 8;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    visibility 0.4s, z-index 0.4s step-start;

  .main-box,
  .main-box-sidebar {
    transform: translateX(0);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  }
}

/* When sidebar is being closed */
body:not(:has(#btn-checkbox-sidebar:checked)) .left-section {
  .main-box {
    transform: translateX(calc(-100% - 11px));
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  }

  .main-box-sidebar {
    transform: translateX(calc(-100% - 410px));
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  }
}

/* top to bottom search input box with animations */
.top-to-bottom {
  background-color: #31313180;
  inset: 0;
  position: fixed;
  z-index: -1;
  display: flex;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, z-index 0.3s step-end;
  .main-box {
    display: flex;
    align-items: center;
    padding: 35px 40px;
    height: 12%;
    background-color: #111111;
    width: 100%;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      button {
        background-image: linear-gradient(90deg, #111111, #111111);
        svg {
          width: 30px;
          height: 30px;
        }
      }
      input {
        display: flex;
        width: 90%;
        background-color: transparent;
        border: none;
        padding: 10px 0 10px 20px;
        color: #ffffff;
        font-size: 18px;
        &:focus-visible {
          outline: none;
        }
      }
    }
    div {
      display: flex;
      cursor: pointer;
      label svg {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;
      }
      &:hover svg {
        transform: rotate(180deg);
      }
    }
  }
}
body:has(#btn-checkbox-search:checked) .top-to-bottom {
  z-index: 9;
  opacity: 1;
  transition: opacity 0.3s ease, z-index 0.3s step-start;
  .main-box {
    transform: translateY(0);
  }
}

/* mobile menu button code only */
#menu-toggle {
  display: none;
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 24px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.hamburger-line {
  height: 2px;
  width: 100%;
  background: #f1faee;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}
#menu-toggle:checked + .hamburger .hamburger-line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

#menu-toggle:checked + .hamburger .hamburger-line:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}
#menu-toggle:checked + .hamburger .hamburger-line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}
.hamburger:hover .hamburger-line {
  background: #ffffff;
}

/* mobile logo */

.mobile-header {
  background-color: #111111;
  position: fixed;
  width: 100%;
  padding: 20px 30px;
  z-index: 7;
  display: none;
  .inner-mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 35px;
      height: auto;
    }
  }
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  inset: 0;
  background-color: rgba(49, 49, 49, 0);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: background-color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1),
    opacity 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1), visibility 0.4s,
    z-index 0.4s step-end;

  .mobile-menu-main {
    background-color: #111111;
    width: 50%;
    height: 100vh;
    right: 0;
    position: absolute;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);

    .check-btn {
      input {
        display: none;
      }

      svg {
        position: absolute;
        top: 3%;
        right: 20%;
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }

    svg {
      position: absolute;
      top: 3%;
      right: 7%;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    div {
      display: flex;
      flex-direction: column;
      padding: 35% 15%;
      gap: 60px;
      .navbar-main {
        ul {
          display: flex;
          flex-direction: column;
          gap: 15px;
          li {
            list-style: none;
            a {
              text-decoration: none;
              color: #ffffff;
              font-family: "Manrope", Arial, Helvetica, sans-serif;
              font-size: 18px;
              text-transform: capitalize;
              font-weight: 500;
              display: inline-block;
              transition: color 0.2s ease, transform 0.2s ease;

              &:hover {
                color: #69da18;
                transform: scale(0.95);
              }
            }
          }
        }
      }
    }
  }
}

/* When menu toggle is checked */
body:has(#menu-toggle:checked) {
  .mobile-menu {
    z-index: 8;
    opacity: 1;
    visibility: visible;
    background-color: rgba(49, 49, 49, 0.5);
    transition: background-color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1),
      opacity 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1), visibility 0.4s,
      z-index 0.4s step-start;

    .mobile-menu-main {
      transform: translateX(0);
      transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    }
  }
}

/* Added this new rule for when menu is being closed */
body:not(:has(#menu-toggle:checked)) {
  .mobile-menu {
    .mobile-menu-main {
      transform: translateX(100%);
      transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    }
  }
}

/* ================================================= Footer ================================================ */
.main-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;

  .inner-main-footer {
    padding: 70px;
    border-radius: 20px;
    background-color: #111111;
    width: 100%;
    .footer-content {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      .icon {
        flex: 1 1 50%;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        a {
          img {
            width: 30px;
          }
        }
        .text {
          p {
            font-family: "Sora", Arial, Helvetica, sans-serif;
            font-size: 60px;
            font-weight: 400;
            background: linear-gradient(to right, #048bc5, #69da18);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            display: inline;
            line-height: 1.2;
          }
        }
      }
      .quick-links {
        flex: 1 1 20%;
        min-width: 150px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        h6 {
          font-family: "Manrope", Arial, Helvetica, sans-serif;
          color: white;
          font-size: 20px;
          font-weight: 600;
        }
        .navbar-main {
          ul {
            list-style: none;
            padding: 0;
            li {
              margin-bottom: 0.5rem;
              a {
                font-family: "Manrope", Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-weight: 400;
                color: #ffffff;
                text-decoration: none;
                transition: color 0.3s;
                &:hover {
                  color: #69da18;
                }
                &.active {
                  color: #048bc5;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* footer second part */
.footer-second-part {
  display: flex;
  justify-content: center;
  margin-top: -40px;
  margin-bottom: 10px;
  .container {
    display: flex;
    justify-content: center;

    .inner-path {
      width: 90%;
      padding: 30px 20px;
      border-radius: 20px;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      p {
        color: #111111;
        text-decoration: none;
        font-family: "Manrope", Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
      }
      .navbar-main {
        ul {
          display: flex;
          gap: 20px;

          li {
            list-style: none;

            a {
              color: #111111;
              text-decoration: none;
              font-family: "Manrope", Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 400;

              &:hover {
                color: #69da18;
              }
            }
          }
        }
      }
    }
  }
}

.button-main {
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* button blue code */
.button-container-blue {
  background-color: #048bc5;
  border-radius: 360px;
  display: flex;
  align-items: center;
  width: 150px;
  max-width: 150px;
  overflow: hidden;

  a {
    padding: 18px 10px 18px 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    svg {
      width: 15px;
      height: 15px;
      margin-top: 5px;
      transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    svg:nth-child(1) {
      opacity: 0;
      transform: translateX(-10px);
    }

    svg:nth-child(2) {
      opacity: 1;
      transform: translateX(0px);
    }

    span {
      display: inline-block;
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover svg:nth-child(1) {
      opacity: 1;
      transform: translateX(0px);
    }

    &:hover svg:nth-child(2) {
      opacity: 0;
      transform: translateX(10px);
    }

    &:hover span {
      transform: translateX(5px);
      opacity: 0.9;
    }
    &:hover {
      padding: 18px 10px 18px 26px;
    }
  }
}

/* button white code  */
.button-container-white {
  background-color: #ffffff;
  border-radius: 360px;
  display: flex;
  align-items: center;
  width: 150px;
  max-width: 150px;
  overflow: hidden;

  a {
    padding: 18px 10px 18px 35px;
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #111111;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    svg {
      width: 15px;
      height: 15px;
      margin-top: 5px;
      transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    svg:nth-child(1) {
      opacity: 1;
      transform: translateX(0);
    }

    svg:nth-child(2) {
      opacity: 0;
      transform: translateX(-10px);
    }

    span {
      display: inline-block;
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover svg:nth-child(1) {
      opacity: 0;
      transform: translateX(10px);
    }

    &:hover svg:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
    }

    &:hover span {
      transform: translateX(5px);
      opacity: 0.9;
    }

    &:hover {
      padding: 18px 10px 18px 18px;
    }
  }
}
